<div class="row" *ngIf="!createMode">
    <div class="col-md-4">
        <h5>Service Queue {{serviceQueue.serviceQueueId}}</h5>
    </div>
    <div class="col-sm-4">
        <a [routerLink]="['desks']">Desks</a>
    </div>
    <div class="col-sm-4">
        <a [routerLink]="['reports']">Reports</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="serviceQueue.serviceQueueDescription">Service Queue Description</label>
            <input type="text" id="serviceQueue.serviceQueueDescription" class="form-control"
                [(ngModel)]="serviceQueue.serviceQueueDescription">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">
                <label for="selectServiceQueueType">Service Queue Type</label>
            </div>
            <div class="row">
                <select name="selectServiceQueueType" id="selectServiceQueueType"
                    [(ngModel)]="serviceQueue.serviceQueueTypeId">
                    <option *ngIf="createMode"></option>
                    <option *ngFor=" let serviceQueueType of serviceQueueTypes"
                        value="{{serviceQueueType.serviceQueueTypeId}}">
                        {{serviceQueueType.serviceQueueTypeDescription}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="serviceQueue.dailyLimit">Service Queue Daily Limit</label>
            <input type="number" id="serviceQueue.dailyLimit" class="form-control"
                [(ngModel)]="serviceQueue.dailyLimit">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div *ngIf="createMode">
            <button class="btn btn-primary" (click)="onCreateServiceQueue()">Add</button>
        </div>
        <div *ngIf="!createMode">
            <button class="btn btn-primary" (click)="onUpdateServiceQueue()">Update</button>
            <button class="btn btn-primary" (click)="onDeleteServiceQueue()">Remove</button>
        </div>
    </div>
</div>