<div class="row" *ngIf="!createMode">
    <div class="col-md-4">
        <h5>{{'SERVICE_QUEUE' | translate}} {{serviceQueue.serviceQueueId}}</h5>
    </div>
    <div class="col-sm-4">
        <a [routerLink]="['desks']">{{'DESKS' | translate}}</a>
    </div>
    <div class="col-sm-4">
        <a [routerLink]="['reports']">{{'REPORTS' | translate}}</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="serviceQueue.serviceQueueDescription">{{'SERVICE_QUEUE_DESCRIPTION' | translate}}</label>
            <input type="text" id="serviceQueue.serviceQueueDescription" class="form-control"
                [(ngModel)]="serviceQueue.serviceQueueDescription">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">
                <label for="selectServiceQueueType">{{'SERVICE_QUEUE_TYPE' | translate}}</label>
            </div>
            <div class="row">
                <select name="selectServiceQueueType" id="selectServiceQueueType"
                    [(ngModel)]="serviceQueue.serviceQueueTypeId">
                    <option *ngIf="createMode"></option>
                    <option *ngFor=" let serviceQueueType of serviceQueueTypes"
                        value="{{serviceQueueType.serviceQueueTypeId}}">
                        {{serviceQueueType.serviceQueueTypeDescription}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="serviceQueue.dailyLimit">{{'DAILY_LIMIT' | translate}}</label>
            <input type="number" id="serviceQueue.dailyLimit" class="form-control"
                [(ngModel)]="serviceQueue.dailyLimit">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div *ngIf="createMode">
            <button class="btn btn-primary" (click)="onCreateServiceQueue()">{{'ADD' | translate}}</button>
        </div>
        <div *ngIf="!createMode">
            <button class="btn btn-primary" (click)="onUpdateServiceQueue()">{{'UPDATE' | translate}}</button>
            <button class="btn btn-primary" (click)="onDeleteServiceQueue()">{{'REMOVE' | translate}}</button>
        </div>
    </div>
</div>