<div class="row">
    <div class="col-sm-6">
        <h5>Currently Waiting {{waitingCount}}</h5>
    </div>
    <div class="col-sm-6">
        <h4>Attending {{attendanceTicket.ticketNumber}}</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div>
            <button class="btn btn-primary" (click)="onCallNext()">Call Next</button>
        </div>
    </div>

    <div class="col-md-3">
        <div>
            <button class="btn btn-primary" (click)="onCallAgain()">Call Again</button>
        </div>
    </div>

    <div class="col-md-3">
        <div>
            <button class="btn btn-primary" (click)="onFinishAttendance()">Finish</button>
        </div>
    </div>

    <div class="col-md-3">
        <div>
            <button class="btn btn-primary" (click)="onSetQuit()">Set Quit</button>
        </div>
    </div>
</div>