<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p *ngIf="fetching">{{'LOADING' | translate}}</p>
        <table class="table table-striped" *ngIf="!fetching">
            <tr>
                <th>{{'LOG_ID' | translate}}</th>
                <th>{{'CREATION' | translate}}</th>
                <th>{{'METHOD' | translate}}</th>
                <th>{{'URI' | translate}}</th>
                <!-- <th>Request Headers</th>
                <th>Request Body</th> -->
                <th>{{'RESPONSE_STATUS' | translate}}</th>
                <!-- <th>Response Headers</th>
                <th>Response Body</th> -->
            </tr>
            <tr *ngFor="let logEntry of logEntries">
                <td> {{ logEntry.logId }} </td>
                <td> {{ logEntry.logCreationDateTime }} </td>
                <td> {{ logEntry.requestMethod }} </td>
                <td> {{ logEntry.requestUri }} </td>
                <!-- <td> {{ logEntry.requestHeaders }} </td>
                <td> {{ logEntry.requestBody }} </td> -->
                <td> {{ logEntry.responseStatus }} </td>
                <!-- <td> {{ logEntry.responseHeaders }} </td>
                <td> {{ logEntry.responseBody }} </td> -->
            </tr>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>

