<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <a [routerLink]="['/operator']">{{'ADD_OPERATOR' | translate}}</a>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p *ngIf="fetching">{{'LOADING' | translate}}</p>
        <p *ngIf="!fetching && operators.length == 0">{{'NO_OPERATORS' | translate}}</p>
        <table class="table table-striped" *ngIf="operators.length > 0">
            <tr>
                <th>{{'OPERATOR_ID' | translate}}</th>
                <th>{{'OPERATOR_DESCRIPTION' | translate}}</th>
            </tr>
            <tr *ngFor="let operator of operators" [routerLink]="['/operator', operator.operatorId]">
                <td> {{ operator.operatorId }} </td>
                <td> {{ operator.operatorDescription }} </td>
            </tr>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>