<div class="row" *ngIf="!createMode">
    <div class="col-sm-12">
        <h5>Beacon {{beacon.beaconId}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="beacon.beaconMacAddress">Mac Address</label>
            <input type="text" id="beacon.beaconMacAddress" class="form-control" [(ngModel)]="beacon.beaconMacAddress">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="beacon.namespaceId">NamespaceId</label>
            <input type="text" id="beacon.namespaceId" class="form-control" [(ngModel)]="beacon.namespaceId">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="beacon.instanceId">InstanceId</label>
            <input type="text" id="beacon.instanceId" class="form-control" [(ngModel)]="beacon.instanceId">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="beacon.manufacturer">Manufacturer</label>
            <input type="text" id="beacon.manufacturer" class="form-control" [(ngModel)]="beacon.manufacturer">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="beacon.model">Model</label>
            <input type="text" id="beacon.model" class="form-control" [(ngModel)]="beacon.model">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div *ngIf="createMode">
            <button class="btn btn-primary" (click)="onCreateBeacon()">Add</button>
        </div>
        <div *ngIf="!createMode">
            <button class="btn btn-primary" (click)="onUpdateBeacon()">Update</button>
            <button class="btn btn-primary" (click)="onDeleteBeacon()">Remove</button>
        </div>
    </div>
</div>