<div class="row" *ngIf="!createMode">
    <div class="col-sm-12">
        <h5>{{'BEACON' | translate}} {{beacon.beaconId}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="beacon.beaconMacAddress">{{'MAC' | translate}}</label>
            <input type="text" id="beacon.beaconMacAddress" class="form-control" [(ngModel)]="beacon.beaconMacAddress">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="beacon.namespaceId">{{'NAMESPACE' | translate}}</label>
            <input type="text" id="beacon.namespaceId" class="form-control" [(ngModel)]="beacon.namespaceId">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="beacon.instanceId">{{'INSTANCE' | translate}}</label>
            <input type="text" id="beacon.instanceId" class="form-control" [(ngModel)]="beacon.instanceId">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="beacon.manufacturer">{{'MANUFACTURER' | translate}}</label>
            <input type="text" id="beacon.manufacturer" class="form-control" [(ngModel)]="beacon.manufacturer">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="beacon.model">{{'MODEL' | translate}}</label>
            <input type="text" id="beacon.model" class="form-control" [(ngModel)]="beacon.model">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div *ngIf="createMode">
            <button class="btn btn-primary" (click)="onCreateBeacon()">{{'ADD' | translate}}</button>
        </div>
        <div *ngIf="!createMode">
            <button class="btn btn-primary" (click)="onUpdateBeacon()">{{'UPDATE' | translate}}</button>
            <button class="btn btn-primary" (click)="onDeleteBeacon()">{{'REMOVE' | translate}}</button>
        </div>
    </div>
</div>