<div class="row" *ngIf="!serviceQueueId">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <a [routerLink]="['/desk']">{{'ADD_DESK' | translate}}</a>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p *ngIf="fetching">{{'LOADING' | translate}}</p>
        <p *ngIf="!fetching && desks.length == 0">{{'NO_DESKS' | translate}}</p>
        <table class="table table-striped" *ngIf="desks.length > 0">
            <tr>
                <th>{{'DESK_ID' | translate}}</th>
                <th>{{'DESK_DESCRIPTION' | translate}}</th>
            </tr>
            <tr *ngFor="let desk of desks" [routerLink]="['/desk', desk.deskId]">
                <td> {{ desk.deskId }} </td>
                <td> {{ desk.deskDescription }} </td>
            </tr>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>