<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <form>
      <div class="form-group">
        <label for="password">{{'NEW_PASSWORD' | translate}}</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
      </div>
    </form>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <button class="btn btn-primary" (click)="onChangePassword()">{{'CHANGE_PASSWORD' | translate}}</button>
  </div>
  <div class="col-sm-4"></div>
</div>