<div class="row" *ngIf="!createMode">
    <div class="col-sm-6">
        <h5>Desk {{desk.deskId}}</h5>
    </div>
    <div class="col-sm-6">
        <a [routerLink]="['user']">User</a>
      </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">
                <label for="selectServiceQueue">Service Queue</label>
            </div>
            <div class="row">
                <select name="selectServiceQueue" id="selectServiceQueue"
                    [(ngModel)]="desk.serviceQueueId">
                    <option *ngIf="createMode"></option>
                    <option *ngFor=" let serviceQueue of serviceQueues"
                        value="{{serviceQueue.serviceQueueId}}">
                        {{serviceQueue.serviceQueueDescription}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="desk.deskDescription">Desk Description</label>
            <input type="text" id="desk.deskDescription" class="form-control" [(ngModel)]="desk.deskDescription">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div *ngIf="createMode">
            <button class="btn btn-primary" (click)="onCreateDesk()">Add</button>
        </div>
        <div *ngIf="!createMode">
            <button class="btn btn-primary" (click)="onUpdateDesk()">Update</button>
            <button class="btn btn-primary" (click)="onDeleteDesk()">Remove</button>
        </div>
    </div>
</div>