<div class="row" *ngIf="!createMode">
    <div class="col-sm-6">
        <h5>{{'DESK' | translate}} {{desk.deskId}}</h5>
    </div>
    <div class="col-sm-6">
        <a [routerLink]="['user']">{{'USER' | translate}}</a>
      </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">
                <label for="selectServiceQueue">{{'SERVICE_QUEUE' | translate}}</label>
            </div>
            <div class="row">
                <select name="selectServiceQueue" id="selectServiceQueue"
                    [(ngModel)]="desk.serviceQueueId">
                    <option *ngIf="createMode"></option>
                    <option *ngFor=" let serviceQueue of serviceQueues"
                        value="{{serviceQueue.serviceQueueId}}">
                        {{serviceQueue.serviceQueueDescription}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="desk.deskDescription">{{'DESK_DESCRIPTION' | translate}}</label>
            <input type="text" id="desk.deskDescription" class="form-control" [(ngModel)]="desk.deskDescription">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div *ngIf="createMode">
            <button class="btn btn-primary" (click)="onCreateDesk()">{{'ADD' | translate}}</button>
        </div>
        <div *ngIf="!createMode">
            <button class="btn btn-primary" (click)="onUpdateDesk()">{{'UPDATE' | translate}}</button>
            <button class="btn btn-primary" (click)="onDeleteDesk()">{{'REMOVE' | translate}}</button>
        </div>
    </div>
</div>