<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <a [routerLink]="['/user']">Add User</a>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p *ngIf="fetching">Loading...</p>
        <p *ngIf="!fetching && users.length == 0">There are no users.</p>
        <table class="table table-striped" *ngIf="users.length > 0">
            <tr>
                <th>User Id</th>
                <th>User Name</th>
            </tr>
            <tr *ngFor="let user of users" [routerLink]="['/user', user.userId]">
                <td> {{ user.userId }} </td>
                <td> {{ user.userName }} </td>
            </tr>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
