<div class="row" *ngIf="!createMode">
  <div class="col-sm-4">
    <h5>{{'OPERATOR' | translate}} {{operator.operatorId}}</h5>
  </div>
  <div class="col-sm-3">
    <a [routerLink]="['beacon']">{{'BEACONS' | translate}}</a>
  </div>
  <div class="col-sm-2">
    <a [routerLink]="['user']">{{'MANAGERS' | translate}}</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="operator.operatorDescription">{{'OPERATOR_DESCRIPTION' | translate}}</label>
      <input type="text" id="operator.operatorDescription" class="form-control"
        [(ngModel)]="operator.operatorDescription">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="operator.email">{{'EMAIL' | translate}}</label>
      <input type="email" id="operator.email" class="form-control" [(ngModel)]="operator.email">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="operator.telephoneNumber">{{'TELEPHONE' | translate}}</label>
      <input type="tel" id="operator.telephoneNumber" class="form-control" [(ngModel)]="operator.telephoneNumber">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="operator.address">{{'ADDRESS' | translate}}</label>
      <input type="text" id="operator.address" class="form-control" [(ngModel)]="operator.address">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div *ngIf="createMode">
      <button class="btn btn-primary" (click)="onCreateOperator()">{{'ADD' | translate}}</button>
    </div>
    <div *ngIf="!createMode">
      <button class="btn btn-primary" (click)="onUpdateOperator()">{{'UPDATE' | translate}}</button>
      <button class="btn btn-primary" (click)="onDeleteOperator()">{{'REMOVE' | translate}}</button>
    </div>
  </div>
</div>
