<div class="row" *ngIf="currentUserProfileId == MANAGER_USER_PROFILE_ID">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="userId">{{'USER_ID' | translate}}</label>
      <input type="number" id="userId" class="form-control" [(ngModel)]="user.userId">
      <button class="btn btn-primary" (click)="getUser()">{{'SEARCH' | translate}}</button>
    </div>
  </div>
</div>

<div class="row" *ngIf="!createMode">
  <div class="col-sm-12">
    <h5>{{'USER' | translate}} {{user.userId}}</h5>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="user.userName">{{'NAME' | translate}}</label>
      <input type="text" id="user.userName" class="form-control" [(ngModel)]="user.userName">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="user.email">{{'EMAIL' | translate}}</label>
      <input type="text" id="user.email" class="form-control" [(ngModel)]="user.email">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="user.telephoneNumber">{{'TELEPHONE' | translate}}</label>
      <input type="text" id="user.telephoneNumber" class="form-control" [(ngModel)]="user.telephoneNumber">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="user.address">{{'ADDRESS' | translate}}</label>
      <input type="text" id="user.address" class="form-control" [(ngModel)]="user.address">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <div class="row">
        <label for="selectUserProfile">{{'USER_PROFILE' | translate}}</label>
      </div>
      <div class="row">
        <select name="selectUserProfile" id="selectUserProfile" [(ngModel)]="user.userProfileId">
          <!-- <option *ngIf="createMode"></option> -->
          <option *ngFor=" let userProfile of userProfiles" value="{{userProfile.userProfileId}}">
            {{userProfile.userProfileDescription}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div *ngIf="createMode">
      <button class="btn btn-primary" (click)="onCreateUser()">{{'ADD' | translate}}</button>
    </div>
    <div *ngIf="!createMode">
      <button class="btn btn-primary" (click)="onUpdateUser()">{{'UPDATE' | translate}}</button>
      <button class="btn btn-primary" (click)="onDeleteUser()">{{'REMOVE' | translate}}</button>
    </div>
  </div>
</div>