<div class="row" *ngIf="!createMode">
  <div class="col-sm-12">
    <h5>User {{user.userId}}</h5>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="user.userName">User Name</label>
      <input type="text" id="user.userName" class="form-control" [(ngModel)]="user.userName">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="user.email">User E-mail</label>
      <input type="text" id="user.email" class="form-control" [(ngModel)]="user.email">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="user.telephoneNumber">User TelephoneNumber</label>
      <input type="number" id="user.telephoneNumber" class="form-control" [(ngModel)]="user.telephoneNumber">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="user.address">User Address</label>
      <input type="text" id="user.address" class="form-control" [(ngModel)]="user.address">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <div class="row">
        <label for="selectUserProfile">User Profile</label>
      </div>
      <div class="row">
        <select name="selectUserProfile" id="selectUserProfile" [(ngModel)]="user.userProfileId">
          <!-- <option *ngIf="createMode"></option> -->
          <option *ngFor=" let userProfile of userProfiles" value="{{userProfile.userProfileId}}">
            {{userProfile.userProfileDescription}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div *ngIf="createMode">
      <button class="btn btn-primary" (click)="onCreateUser()">Add</button>
    </div>
    <div *ngIf="!createMode">
      <button class="btn btn-primary" (click)="onUpdateUser()">Update</button>
      <button class="btn btn-primary" (click)="onDeleteUser()">Remove</button>
    </div>
  </div>
</div>